<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cube_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube_cyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{1,128},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{115,119}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{937,382},{115,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{1,255},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{1,382},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube_lava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{118,1},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{118,128},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{118,255},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{118,382},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube_violet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{235,1},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cube_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{235,128},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_skill_QUYEN_RU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{235,255},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_skill_BOI_THU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{235,382},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_skill_NANG_LEN_CAO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{352,1},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_skill_CAN_TRO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{352,128},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_skill_CHUOC_RUOU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{352,255},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_skill_VONG_NGUYET_QUE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{352,382},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{469,1},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{469,128},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{469,255},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{469,382},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{586,1},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{586,128},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{586,255},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{586,382},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{703,1},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{703,128},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{703,255},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{703,382},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{820,1},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{820,128},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{820,255},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{820,382},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{937,1},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{937,128},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{115,125}</string>
                <key>textureRect</key>
                <string>{{937,255},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cube_all.png</string>
            <key>size</key>
            <string>{1053,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:809cb3977b8e848857ff7365d8584c42:b53ae7aa283824a61303c833995c4b5b:bb2b70f8c4763c527e75b03a29d8773d$</string>
            <key>textureFileName</key>
            <string>cube_all.png</string>
        </dict>
    </dict>
</plist>
