<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chicken_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{103,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{93,85}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{1,155},{93,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chicken_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{77,83}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{1,76},{77,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chicken2.png</string>
            <key>size</key>
            <string>{105,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f934258aebcf07d2c94d5dc601eb829a:5f27ee511499a1c37efd838427a95e4b:09bc3a7b7c3b3edc124bcaefc247fc40$</string>
            <key>textureFileName</key>
            <string>chicken2.png</string>
        </dict>
    </dict>
</plist>
