<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,445},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,460}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{1357,450},{460,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,476}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{945,912},{476,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,490}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1379},{490,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,447}</string>
                <key>spriteSourceSize</key>
                <string>{455,455}</string>
                <key>textureRect</key>
                <string>{{1328,1},{447,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,442}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{440,1},{442,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,490}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{493,1390},{490,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,582}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{985,1394},{582,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,465}</string>
                <key>spriteSourceSize</key>
                <string>{475,475}</string>
                <key>textureRect</key>
                <string>{{1,897},{465,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,437}</string>
                <key>spriteSourceSize</key>
                <string>{445,445}</string>
                <key>textureRect</key>
                <string>{{1,1},{437,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{453,445},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{905,450},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,475}</string>
                <key>spriteSourceSize</key>
                <string>{475,475}</string>
                <key>textureRect</key>
                <string>{{468,902},{475,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,442}</string>
                <key>spriteSourceSize</key>
                <string>{460,460}</string>
                <key>textureRect</key>
                <string>{{884,1},{442,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,480}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1423,912},{480,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>planets.png</string>
            <key>size</key>
            <string>{1904,1977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11bbd5021fe1cc69e4fe8fe324ff7f33:45a9db909bce7c47d68117946cc8f1b7:dd932aa2135a8829ff5f576a137be835$</string>
            <key>textureFileName</key>
            <string>planets.png</string>
        </dict>
    </dict>
</plist>
